body {
    font-family: 'Thasadith', sans-serif;
}

#main-container {
    font-family: 'Thasadith', sans-serif;
    margin: auto;
    width: 650px;
    height: 570px;
}
#chartdivBar{
    /*margin-top:500px;*/
    width: 1000px;
    height: 500px;
    margin:auto;
}

/* Clear floats after the columns */
#View3:after {
    content: "";
    display: table;
    clear: both;
    height: 150px;
}
#chartdivPie1, #chartdivPie2, #chartdivPie3 {
    height:245px;
}
.Pie {
    float: left;
    width: 33.33%;
}

h1, h2 {
    font-family: 'Thasadith', sans-serif;
    text-align: center
}
.view3Title {
    margin-bottom: 100px;
}

#arrow {
    display: block;
    margin: auto;
    /*margin-top: -377px;*/
    height: 50px;
    width: 66px;
}